.container{
    width:60%
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: .25em;
  }
  
  ::ng-deep .mat-snack-bar-container {
    top: 10px !important; /* Top distance */
    right: 10px !important; /* Right distance */
  }
  